    * {
        margin: 0;
        padding: 0;
        font-family: 'Finlandica', sans-serif;
    }
    
    .bg_header {
        background-image: url(images/donation6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* opacity: 0.6; */
        width: 100%;
        height: 100vh;
        background-color: rgb(80, 73, 73);
    }
    
    .heading {
        text-align: center;
    }
    
    .heading h1 {
        font-size: 40px;
        width: 400px;
        padding-top: 200px;
        padding-left: 35%;
    }
    
    .heading p {
        width: 400px;
        padding-left: 35%;
        margin-top: 20px;
    }
    
    .donate_heading {
        text-align: center;
    }
    
    .donate_heading h1 {
        font-size: 40px;
        width: 400px;
        padding-top: 100px;
        padding-left: 34%;
        margin: 20px;
    }
    
    .donate_heading p {
        width: 400px;
        padding-left: 35%;
        margin-top: 20px;
    }
    
    .heading input {
        margin: 30px;
        padding: 15px 40px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(250, 247, 247, 0.973);
        background-color: #f80909;
        cursor: pointer;
    }
    
    .heading input:hover {
        transform: translateY(-5px);
    }
    
    .fix_amount {
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    
    .fix_amount h1 {
        padding: 30px;
        cursor: pointer;
        background-color: aliceblue;
        margin: 2px;
        border-radius: 2px;
    }
    
    .fix_amount #selected {
        border: 1px solid rgb(231, 128, 128);
        background-color: antiquewhite;
        border-radius: 5px;
    }
    
    .input_form {
        text-align: center;
    }
    
    .input_form form #input {
        text-align: center;
        padding: 10px 10%;
        border: none;
        border-bottom: 1px solid black;
    }
    
    .input_form form #button {
        margin: 20px;
        padding: 15px 40px;
        border: none;
        border-radius: 5px;
        background-color: #f80909;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
    
    .input_form form #button:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
    
    .blogs {
        display: flex;
        margin-top: 40px;
        justify-content: space-around;
    }
    
    .blog_item {
        width: 20%;
        padding: 20px;
        padding-bottom: 40px;
        background-color: aliceblue;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        margin-bottom: 30px;
    }
    
    .blog_item img {
        width: 30%;
        padding: 10px;
    }
    
    .blogs #food {
        background-color: rgb(167, 143, 113);
    }
    
    .blogs #medicine {
        background-color: rgb(113, 138, 167);
    }
    
    .blogs #clothes {
        background-color: rgb(161, 113, 167);
    }
    
    .hadith {
        display: flex;
    }
    
    .story {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin: 60px;
    }
    
    #story_text {
        padding: 100px;
        margin-top: 100px;
    }
    
    #story_text h1 {
        padding: 40px;
        padding-left: 10px;
        padding-bottom: 20px;
        font-size: 30px;
    }
    
    #story_text p {
        padding: 10px;
    }
    
    #story_text input {
        padding: 15px 30px;
        margin-left: 10px;
        margin-top: 20px;
        background-color: #f80909;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    
    #story_img img {
        height: 500px;
        width: 400px;
        margin-top: 50px;
        border-radius: 10px;
        margin-right: 50px;
        margin-left: 40px;
    }
    
    .mail_form form {
        display: flex;
        justify-content: center;
        margin: 80px;
    }
    
    .mail_form {
        background-color: antiquewhite;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-top: 0.5px;
        padding-bottom: 0.5px;
        border-radius: 5px;
    }
    
    .mail_form .form #email {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid rgb(92, 87, 97);
    }
    
    .mail_form .form #button {
        border: none;
        padding: 8px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #f80909;
        cursor: pointer;
        border: 1px solid rgb(92, 87, 97);
    }
    
    footer {
        background-color: black;
        padding: 50px;
        text-align: center;
    }
    
    footer h1 {
        color: rgb(228, 124, 145);
        padding: 10px;
    }
    
    footer h6 {
        color: rgb(230, 224, 225);
        padding: 10px;
    }